#root {
  margin: 0 auto;
  min-height: 100vh;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #cfc8c8 !important;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
